.Rproj.user
*.Rproj
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
*.Rcheck/
*.tar.gz
*.zip
**/[Dd]esktop.ini
[Dd]esktop.ini

# R package build outputs
.Rcheck/
man/*.html
vignettes/*.html
inst/doc/

# Renviron / secrets
.Renviron
.env
.env.*

# JS / node
node_modules/
dist/
build/
*.map
docs
